
    <form [formGroup]="forgotPasswordForm">
      <div class="form-group">
        <input class="form-control form-control-lg"
               type="email"
               placeholder="Please enter your email"
               formControlName="forgotPasswordEmail">
  
        <div *ngIf="forgotPasswordEmail.invalid && (forgotPasswordEmail.dirty || forgotPasswordEmail.touched)"
             class="alert alert-danger">
          
          <span *ngIf="forgotPasswordEmail.errors.required">Email is required</span>
          <span *ngIf="forgotPasswordEmail.errors.email">Please enter a valid email</span>
        </div>
  
      </div>
  
      <div *ngIf="forgotPasswordFormErrorMessage.length > 0" class="alert alert-danger">{{forgotPasswordFormErrorMessage[0]}}</div>
  
      <button [disabled]="!forgotPasswordForm.valid"
              (click)="submitForgotPasswordForm()"
              type="button"
              class="btn btn-primary">Reset password</button>
    </form>
