<div class="container-fluid p-0">
  <div class="jumbotron jumbotron-fluid">
      <h1 class="meet-the-team-header">The people who work at YIP.guru share the vision and values of our community</h1>
  </div>
  
  <div class="question-section container">
    <div class="row justify-content-center">
      <div class="col-xs-12">
        <h1 class="question-header">It began with a question:</h1>
        <h3>How do we help people with physical or medical conditions maintain a full and safe yoga practice - and utilize the beneficial aspects of yoga to improve those conditions?</h3>
      </div>
    </div>
  </div>

  <div class="the-team container-fluid">
    <div class="row justify-content-center">
      <div class="col-xs-12">
        <h1>The Team</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-2 col-xs-12">
        <div class="card">
          <img src="https://yoga-injury-prevention.s3.us-east-2.amazonaws.com/assets/img/LOREN.png" class="card-img-top team-img" alt="Loren Fishman">
          <div class="card-body">
            <p class="card-text">Loren Fishman</p>
            <p class="card-text"><i>Founder, clinical physician MD, and ardent practitioner</i></p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-12">
        <div class="card">
          <img src="https://yoga-injury-prevention.s3.us-east-2.amazonaws.com/assets/img/VICTOR.png" class="card-img-top team-img" alt="Victor Oppenheimer">
          <div class="card-body">
            <p class="card-text">Victor Oppenheimer</p>
            <p class="card-text"><i>Founder, creator of yoga.com, and ardent practitioner</i></p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-12">
        <div class="card">
          <img src="https://yoga-injury-prevention.s3.us-east-2.amazonaws.com/assets/img/CARRIE.png" class="card-img-top team-img" alt="Carrie Owerko">
          <div class="card-body">
            <p class="card-text">Carrie Owerko</p>
            <p class="card-text"><i>Founder, well-renowned teacher and practitioner of Iyengar style Yoga</i></p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-12">
        <div class="card">
          <img src="https://yoga-injury-prevention.s3.us-east-2.amazonaws.com/assets/img/tali.jpg" class="card-img-top team-img" alt="Taliesin Oppenheimer">
          <div class="card-body">
            <p class="card-text">Taliesin Oppenheimer</p>
            <p class="card-text"><i>Entrepreneur</i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-join-form></app-join-form>
  <app-footer></app-footer>
</div>
