<div class="container-fluid p-0">
  <div class="header">
    <h1>HOW IT WORKS</h1>
  </div>
  <div class="info">
    <div class="row justify-content-center m-0">
      <div class="col-lg-10 col-sm-12">
        <h1>YIP.GURU SIMPLIFIES SAFETY IN YOGA PRACTICE</h1>
      </div>
    </div>
    <div class="row justify-content-center m-0">
      <div class="col-lg-8 col-sm-10">
        <p>The twin goals of Yoga Injury Prevention (YIP) are to help people with physical or medical conditions to maintain a safe and fulfilling yoga practice, and to utilize the beneficial aspects of yoga to improve, and to even heal those conditions.</p>
        <p>We approach this in different ways:</p>
      </div>
    </div>
  </div>
  <div class="icon-rows">
    <div class="row m-0 justify-content-center">
      <div class="col-lg-3 col-sm-12 custom-card">
        <img class="img-fluid" src="https://yoga-injury-prevention.s3.us-east-2.amazonaws.com/static/img/icons/POSTURES.png">
        <h2>POSTURES</h2>
        <p>Before beginning a pose, it’s helpful to review which conditions make it risky. If you or your student is practicing a pose, find out what it helps and what it hurts—with some videos.</p>
      </div>
      <div class="col-lg-3 col-sm-12 custom-card">
        <img class="img-fluid" src="https://yoga-injury-prevention.s3.us-east-2.amazonaws.com/static/img/icons/MEDICAL.png">
        <h2>MEDICAL CONDITIONS</h2>
        <p>If somebody has one or more conditions, see which poses are compatible with them all, which poses will benefit one or more of them, and which should not be done—and why.</p>
      </div>
      <div class="col-lg-3 col-sm-12 custom-card">
        <img class="img-fluid" src="https://yoga-injury-prevention.s3.us-east-2.amazonaws.com/static/img/icons/WORKAROUND.png">
        <h2>WORKAROUNDS</h2>
        <p>Most contraindications are relative. Each contraindication is given a workaround. For workarounds contraindicated by another condition, simply view the poses suited for all conditions, and stick with them.</p>
      </div>
    </div>
    <div class="row m-0 justify-content-center" style="padding-top: 75px;">
      <div class="col-lg-3 col-sm-12 custom-card">
        <img class="img-fluid" src="https://yoga-injury-prevention.s3.us-east-2.amazonaws.com/static/img/icons/UNSAFE-01.png">
        <h2>UNSAFE POSES</h2>
        <p>Injuries occur doing poses that have no medical contraindication.  Proper alignment and judicious use of props protect you.  Detailed instructions, videos, and blogs are here to help.</p>
      </div>
      <div class="col-lg-3 col-sm-12 custom-card">
        <img class="img-fluid" src="https://yoga-injury-prevention.s3.us-east-2.amazonaws.com/static/img/icons/BENEFICIAL_2.png">
        <h2>BENEFICIAL POSES</h2>
        <p>Author experience and the scientific yoga literature combine to direct you to the most effective postures for 100 conditions, or, advise where yoga has no proven benefit.</p>
      </div>
      <div class="col-lg-3 col-sm-12 custom-card">
        <img class="img-fluid" src="https://yoga-injury-prevention.s3.us-east-2.amazonaws.com/static/img/icons/VIDEO-01.png">
        <h2>VIDEOS & BLOG</h2>
        <p>Physicians illustrate how to use yoga for benefit for e.g., rotator cuff,
          knee injury and insomnia. Blogs by leaders such as Matthew Taylor, J. Brown, Julie Carmen, Amy Weintraub.</p>
      </div>
    </div>
  </div>
  <div class="call-to-action">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-sm-12">
        <h1>Get started today with a <span>FREE</span> trial week.</h1>
        <h2>Easily find safe and beneficial yoga poses for your students, patients, and yourself.</h2>
        <a class="btn btn-call-to-action" routerLink="/join-yip">Get My Free Week</a>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
