<div class="footer-section container-fluid">
    <div class="row">
      <div class="col-4">
        <p>@2019-20 Yoga Injury Prevention LLC</p>
        <nav class="nav justify-content-center" style="margin-top: -22px;">
          <a class="nav-link" data-toggle="modal" data-target="#privacyPolicyModal">Privacy Policy</a>
          <a class="nav-link" href="#">Acknowledgements</a>
        </nav>
      </div>
      <div class="col-4">
        <nav class="nav justify-content-center">
          <a class="nav-link" href="https://www.facebook.com/YIP.guru/"><i class="fa fa-facebook-f fa-2x"></i></a>
          <a class="nav-link" href="https://twitter.com/LorenFishmanMD/status/1021431245241188353"><i class="fa fa-twitter fa-2x"></i></a>
          <a class="nav-link" href="https://instagram.com/yoga_injury_prevention"><i class="fa fa-instagram fa-2x"></i></a>
        </nav>
      </div>
      <div class="col-4">
        <nav class="nav">
          <a class="nav-link" data-toggle="modal" data-target="#termsOfUseModal">Terms of use</a>
          <a class="nav-link" routerLink="/contact">Get in touch</a>
          <ul class="navbar-nav ml-auto">
            <li>
              <a class="nav-link" (click)="toTop()">
                <div class="footer-up text-center">
                  <i class="fa fa-chevron-up"></i>
                </div>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <!-- Terms of use modal -->


<div class="modal fade" id="termsOfUseModal" tabindex="-1" role="dialog" aria-labelledby="termsOfUseModal" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Terms and Conditions</h4>
      </div>
      <div class="modal-body">
          <p>
              The descriptions and suggestions in this website are the work of
              Yoga Injury Prevention, LLC.  People and parties testing or using
              this program are hereby advised that they, and not Yoga Injury
              Prevention, LLC, are responsible for any effects, good or bad that
              the use of this website has on themselves and others.
          </p>
          <p>
              By using this website each user thereby indemnifies Yoga Injury
              Prevention, LLC and its owners and holds them harmless regarding
              any injury or harm caused by those using the website, or taught by
              them. The information in this website is imparted as suggestion,
              not to be mistaken for medical advice.  Medical advice must be taken
              up with physicians or other health professionals that have personal
              familiarity with those seeking it.
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">I Accept</button>
      </div>
    </div>
  </div>
</div>

<!-- Privacy policy modal -->
<div class="modal fade" id="privacyPolicyModal" tabindex="-1" role="dialog" aria-labelledby="privacyPolicyModal" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Yoga Injury Protection, LLC ("YIP") Privacy Policy</h4>
      </div>
      <div class="modal-body">
        <h4>Statement of Participant Confidentiality</h4>
        <p>
          It is the policy of YIP to maintain the highest level of confidentiality
          with respect to participant information. YIP does not, and will not, share
          information regarding participants with any individual or organization not
          affiliated with YIP without written permission from the participant
        </p>
        <p>
          We maintain the following privacy policy with respect to our website to
          protect personal information you provide online.
        </p>
        <h4>Website Policy</h4>
        <p>
          Like all website owners, YIP receives and records information from your
          browser in our website server logs, including your Internet provider address
          and the pages you request. Aside from this standard tracking data, the only
          other personal information we collect about you is such data as you knowingly
          provide through our online forms.
        </p>
        <p>
          YIP uses the information you share with us to be able to send you electronic
          communications you may request, various printed publications and to help
          administer and improve our website. Most areas of our site that are accessible
          require some identification in order to be effective and in order to make payment.
        </p>
        <p>
          YIP is the sole owner of any information collected on this site. We will not
          share your information with any third–party organization without your explicit
          permission to do so. Personal information you provide is stored in a secure
          location and is accessible only by designated staff. Again, any information
          provided here will be kept confidential.
        </p>
        <h4>Update, Correct, or Delete Personal Information</h4>
        <p>
          The accuracy of your individual information is important to YIP. If you would
          like to review or change to your personal information related to a donation,
          please send an e-mail to info@Yip.guru
        </p>
        <h4>Changes to the Privacy Policy</h4>
        <p>
          YIP may amend this Privacy Policy from time to time. If we make any significant
          changes in the way we use your personal information, we will alert you by posting a
          prominent notice on our Site.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">I Accept</button>
      </div>
    </div>
  </div>
</div>