<div class="modal-body" data-target="#modal">
    <form [formGroup]="changePasswordForm">
      <div class="form-group">
        <input 
            class="form-control form-control-lg" 
            type="password" 
            placeholder="Current password"
            formControlName="currentPassword"
            required>

            <div *ngIf="f.currentPassword.invalid && (f.currentPassword.dirty || f.currentPassword.touched)"
                 class="alert alert-danger">
                <span *ngIf="f.currentPassword.errors.required">Please enter your current password</span>
                <span *ngIf="f.currentPassword.errors.passwordIsInvalid">The password you've entered is not your current password</span>    
            </div>
      </div>
      <div class="form-group">
        <input 
            class="form-control form-control-lg" 
            type="password" 
            placeholder="New password"
            formControlName="newPassword"
            required>  
            
            <div *ngIf="f.newPassword.invalid && (f.newPassword.dirty || f.newPassword.touched)"
                 class="alert alert-danger">
                <span *ngIf="f.newPassword.errors.required">Please enter your new password</span>
            </div>
      </div>
      <div class="form-group">
        <input 
            class="form-control form-control-lg" 
            type="password" 
            placeholder="Verify password"
            formControlName="verifyNewPassword"
            required>

            <div *ngIf="f.verifyNewPassword.invalid && (f.verifyNewPassword.dirty || f.verifyNewPassword.touched)"
                 class="alert alert-danger">
                <span *ngIf="f.verifyNewPassword.errors.required">Please verify your new password</span>
                <span *ngIf="f.verifyNewPassword.errors.passwordsMustMatch">The password you've entered does not match</span>    
            </div>
      </div>
  
      <button [disabled]="!changePasswordForm.valid"
              class="btn btn-primary"
              (click)="onSubmit()">Update password</button>
    </form>
  </div>